*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

label, input{
    display: block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 11pt;
    width: 100%;
}

form{
    width: 550px;
    background-color: darkslategray;
    padding: 20px;
    margin: 30px 0px;
}

input[type="submit"]{
    margin-top: 10px;
}

#esquerda{
    width: 100%;
    background-color: darkgrey;
}

#direita{
    width: 100%;
    background-color: darkolivegreen;
}